*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #e0dede;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 25% 55% 20%;
}

#left-top-left{
    /* background-color: blue; */
    padding: 40px;
}

#square{
    width: 30px;
    height: 30px;
    rotate: 45deg;
    background-color: black;
}

#left-top-right{
    /* background-color: red; */
    justify-self: right;
    padding: 40px;
    text-align: right;
}

#left-top-right h4{
    /* background-color: crimson; */
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
}

#left-top-right h5{
    /* background-color: crimson; */
    font-size: 15px;
    font-weight: 500;
    color: #333;
}

#left-top-right h6{
    display: none;
}

#left-centre{
    /* background-color: green; */
    grid-column: 1 / 3;
    padding: 40px;
    
}

#left-centre h1{
    font-size: 6vw;
    line-height: 6vw;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

#left-centre h1:nth-child(2n){
    /* background-color: red; */
    text-align: center;
}

#left-bottom{
    /* background-color: yellow; */
    grid-column: 1 / 3;
    padding: 30px;
}

#left-bottom p{
    width: 70%;
    font-size: 18px;
    font-weight: 400;
    color: #666;
}

#right{
    /* background-color: brown; */
    grid-row: 1 / 4;
    grid-column: 3;
    padding: 30px;
    padding-right: 100px;
}

#right video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

#arrow{
    position: absolute;
    top: 50%;
    left: 52%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orangered;
    color: #fff;
    padding: 30px;
    border-radius: 50%;
    transform: translate(-50% , -50%);
}

#arrow i{
    font-size: 30px;
    font-weight: 100;
}

@media (max-width:600px) {
    #main{
        grid-template-columns: 50% 50%;
        grid-template-rows: 60px 34% 8%;
    }
    

    #left-top-left{
        padding: 20px;
    }
    
    #square{
        width: 15px;
        height: 15px;
    }
    
    #left-top-right{

        justify-self: right;
        padding: 20px;
        text-align: right;
    }
    
    #left-top-right h4{
        display: none;
    }
    
    #left-top-right h5{

        display: none;
    }

    #left-top-right h6{
        display: initial;
        font-size: 20px;
    }
    
    #left-centre{
        padding:10px 20px;
        
    }
    
    #left-centre h1{
        font-size: 17vw;
        line-height: 14vw;
    }
    
    #left-centre h1:nth-child(2n){
        text-align: right;
    }
    
    #left-bottom{
        padding: 0px 20px;
    }
    
    #left-bottom p{
        width: 90%;
        font-size: 12px;
    }
    
    
    #arrow{

        top: 52%;
        left: 50%;
        padding: 10px;
        transform: translate(-50% , -50%) rotate(90deg);
    }
    
    #arrow i{
        font-size: 20px;

    }

    #right{

        grid-row: 4;
        grid-column:1 / 3;
        padding: 20px;
        padding-right: 20px;
    }

    #right video{
        height: 42vh;
        width: 100%;
        object-fit: cover;
    }
}